@import '~bootstrap/scss/bootstrap';
@import 'navbar';
@import 'jumbo';
@import 'show';
@import 'footer';

/*GENERAL*/
body{
    background-color: #a1dab5;
}
main{
    padding-top: 10px;
    padding-bottom: 100px;
}

